/* MARKDOWN OVERRIDES */
.markdown-body {
  font-family: Georgia;
  font-size: 1.1rem;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  color: #000000;
  border: 0;
  font-weight: 300;
}


.highlight pre, .markdown-body pre {
  border: 1px solid #e1e1e1;
}
