body {
  text-align: center;
  background: #111;
  color: #7e7e8f;
  margin-top: 5%;
}

a {
  color: #97bef9;
  text-decoration: none;
}

a:hover {
  color: #5982c1;
  text-decoration: none;
}

input {
  background-color: #7e7e8f;
  color: #111;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 5px;
  border: 0px;
}

#site {
  padding-left: 5px;
}
