html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  color: #4a4a4a;
}

#app {
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serifans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.container {
  display: table-cell;
  vertical-align: top;
  padding: auto;
}

@media screen and (min-width:1024px) {
  .container {
    padding: 0 5%;
  }
}

@media screen and (min-width:1216px) {
  .container {
    padding: 0 7%;
  }
}

@media screen and (min-width:1408px) {
  .container {
    padding: 0 10%;
  }
}

/******************/
/* Title Elements */
/******************/

.title {
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
  word-break: break-word;
  margin: .5rem 0 1.5rem 0;
}

.is-1 { font-size: 3rem; }
.is-2 { font-size: 2.5rem; }
.is-3 { font-size: 2rem; }
.is-4 { font-size: 1.5rem; }
.is-5 { font-size: 1.25rem; }
.is-6 { font-size: 1rem; }
